[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Xiu
	email = hitler12300@yahoo.com.tw
[core]
	autocrlf = true
